@using sb_admin.web.Models
@model List<ChiTietLoi>
@using sb_admin.web.Helper
@foreach (var item in Model)
{
    <div class="w3-row w3-border-bottom">
        <h3>@item.vTenLoi</h3>
        <p>@item.vChiTietLoi</p>
        @Html.Action("HinhLoiPartial", "NhiemVu", new { iMaChiTietLoiCode = item.iMaChiTietLoiCode })
        @if (ViewBag.iMaNguoiDangCode != CurrentContext.GetUser().iMaThanhVienCode)
        {
            <button id="btnTrangThai" class="btnTrangThai w3-button w3-white w3-border w3-border-blue w3-round-large" onclick="btnTrangThaiClick(5,0,@item.iMaChiTietLoiCode)">Sữa lỗi</button>
        }
        else {
            <button onclick="openModal('','#modal-ChinhSuaLoi',@item.iMaChiTietLoiCode)" class="w3-button w3-pale-blue">Chỉnh sửa lỗi</button>
            <button onclick="openModal('','#modal-XoaLoi',@item.iMaChiTietLoiCode)" class="w3-button w3-pale-blue">Xóa lỗi</button>
        }

    </div>
}




