USE [master]
GO
/****** Object:  Database [dbnhiemvudemo]    Script Date: 8/29/2017 11:00:59 AM ******/
CREATE DATABASE [dbnhiemvudemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbnhiemvudemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbnhiemvudemo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbnhiemvudemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbnhiemvudemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbnhiemvudemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbnhiemvudemo]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 8/29/2017 11:00:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[iMaTrangThaiCode] [int] IDENTITY(1,1) NOT NULL,
	[vTenTrangThai] [nvarchar](50) NULL,
	[iTrangThai] [int] NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[iMaTrangThaiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
