@using sb_admin.web.Helper
@if (CurrentContext.IsLogged())
{
    <a id="logoutLink" class="btn w3-green">Logout</a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="w3-green">Login</a>
}

<form id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>


    <script>
    // start script logout
    $('#logoutLink').on('click', function () {
        $('#frmLogout').submit();
    });
    // end script logout
    </script>